.copyright
    - var year = new Date().getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href="https://hexo.io/", target="_blank") Hexo] and #[a(href="https://github.com/XavierWah/hexo-theme-asclepius", target="_blank") hexo-theme-asclepius].